/*Commenting method in CSS is the same for the html (cmd+/*/
/*CSS Selector*/
/* 
	* - universal; it is used to target all elements inside the html tag
 

	font-family - changes the style of the font
		Courier New - is the font thas is to be used by the webpage to display the texts
		monospace - the family from which the browser will try to search for a font once the courier new is not available
 */

/*	In CSS, you can enter multiple properties inside the selector to 		change the style of the element*/

/*	font-size - changes the font size
	20px - value in which the size of the text will be 20 pixels in size*/


/* !important - property used in CSS to override the CSS priority rule. it makes the property to which it is attached a priority over any other conflicting style ( regardless if it's internal or inline) */

/*
CS Styling prioritization
 - inline - internal - external*/

/*	h1{
		color: red !important;
		background-color: pink;
	}*/


/*in terms of the selectors, id has the highest priority over other selectors and universal selector is the lowest*/

/*letter spacing - used to change the spaces in between the characters of the text*/

/*id selector - this is commonly used to provide unique styling for an element*/
/*#idName*/


/*attribute selector
	- will only work if the element hast the exact attribute that specified in the selector

	tag[attribute]

 */

/*combination selectors
	these selectors require two selector but the target is the latter/second selecor
*/

/*ADJACENT SIBLING SELECTOR
	selector that is used to target the next selector that is next to the first selector
	SYNTAX
	firstSelector + secondSelector
*/
/*	height - changes the height of the element
	width - changes the width of the element
	border-radius - changes the corners of the img element from a sharp to a rounded corner
*/
h3 + img {
height: 300px;
width: 300px;
border-radius: 150px;

}
/*in combination selectors,the we are not restriced to use uniform/one tag for both. the firstSelector can be a class/id/tag while the secondSelector can be of different selector*/

/*#zuitt-motto + img {
height: 300px;
width: 300px;
border-radius: 150px;

}*/

/*descendant selector
	used to select elements (secondSelector) that are inside other elements (firstSelector)
	SYNTAX
	firstSelector secondSelector

	*/

input[required]{
border-width: 5px;
border-style: solid;
border-color: navy;
}
.offering-item
{
text-transform: uppercase;

}
*{
	font-family: "Courier New", monospace;
	font-size: 30px;
}
#zuitt-motto{
	letter-spacing: 5px;
}

h3{

	letter-spacing: 25px;
}
/*hexadecimal value of the color property - can be used to specify the target shade for the color that the client wants to use*/
#bootcamp-learning-list li {
color: #075966;

}

/*general sibling selector
	used to target the preceeding siblings (secondSelector) of the first selector
*/

h2 ~ a {
	text-decoration: none;
}

/*child selector*/

body>section>form>label{
	/*rgb (red/green/blue) 0-255*/
	color: rgb(0, 0, 128);
}

body{
	background-color: skyblue;
}

html{
	scroll-behavior: smooth;
}
nav{
	background-color: white;
}
/*pseudo element/selector
 this a: hover will change the element style once the cursor is hovered over it;
*/
a:hover{
	background-color: #b3d6de;
}
div{
	display: inline-block;
}
/*landing section*/
section{
	/*vh- viewport height*/
	height:  100vh;
	text-align: center;
}
h2{
	/*rem - root element measurementit multiplies the value attached to it to the root element (html)
	default value woul be 16px
*/
	font-size: 1.5rem;
}
ol{
	/*list-style-type - changes the bullet/ordering style of the elements*/
	list-style-type: none;
}
/*register section*/
/*position - property that changes the position of element based on a certain criteria*/
/*left - used along the position property to add a certain measurement to the left of the element
	directions (l, r, t, b) - it is recommended to use only 2 of the directions; vertical (top and bottom) or horizontal (left and the right) per selector

*/
form{
	text-align: center;
	background-color: white;
	border: 2px solid black;
	height: 400px;
	/*vw - viewport width and is similar to vh*/
	width: 40vw;
	position: relative;
	left: 30.25%;

}
button{
	background-color: #cf0053;
	color: white;
	border: 0;
	border-radius: 15px;
}