#para2{
	color: yellow;
}
*{
	font-family: sans-serif;, monospace;
	font-size: 16;
}
h1{
	font-size: 30;
}
#upper{
	text-transform: uppercase;
}
.lang{
	background-color: darkgreen;
}

/*attribute selector li[style]*/
li[style]{
border-width: 1px;
border-style: solid;
border-color: blue;
}

/*adjacent sibling selector*/
img + ol {
list-style: none;
}

/*descendant selector*/
body img {
height: 80px;
width: 80px;
border-radius: 40px;
}

/*general sibling selector*/
ol ~ p {
	text-align: center;
}

/*child selector*/
section>ol>li{
	letter-spacing: 5px;
}